<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/admin']">
                        <i class="now-ui-icons users_circle-08"></i>
                        <p>Minha área</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
